@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;500&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 300;
    background-color: #eee;

}

a{
    color: #111;
}

a:visited{
    color: #111;
}

a:active{
    opacity: 0.9;
    color: #111;
}

a:hover{
    color: darkslategray;
}

li {
    list-style-type: none;
}

.content {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
    padding: 10px;

    h2 {
        width: 100%;
        padding: 10px;
    }

    h3 {
        width: 100%;
        padding: 10px;
    }


}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    max-height: 200px;
    align-items: center;
    justify-content: center;

    h1 {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.5rem;
        margin-bottom: 1rem;
    }

    .nav {
        text-transform: capitalize;
        text-decoration: underline;
        letter-spacing: 0.2rem;
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;

    }
}

main {
    width: 100%;
    padding-top: 2rem;

    .mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: 300px;
        width: 100%;
        background-image: url(images/mission.jpg);
    }

    .companies-card {
        padding-top: 2rem;

        .companies-area {
            margin: 1% auto 1% auto;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
        }

        .companies {
            margin-bottom: 1%;
            width: 470px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            justify-items: center;
        }

        .companies-img {
            margin: auto;
            width: 220px;
            padding: 10px;
        }

        .companies-name {
            letter-spacing: 0.3rem;
            padding: 10px;
            min-width: 250px;
            text-align: center;
            font-weight: bold;
        }
    }

    .team {
        width: 100%;
        max-height: 980px;
        background-image: url(images/team.jpg);



        .team-rows {
            display: flex;
            justify-content: space-around;
            align-items: center;


            .team-card {
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                max-width: 300px;
                flex-wrap: wrap;
                color: #eee;
                font-size: 0.75rem;
                justify-items: center;

                .team-img {
                    width: 200px;

                }

                .team-job {
                    max-width: 280px;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }

}

footer {
    min-height: 250px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    .content {
        justify-content: space-between;

        h5 {
            margin: 1% 0 1% 0;
        }

        h6 {
            margin-top: 3%;
        }
    }
}


@media screen and (max-width:425px) {
    main {
        .companies-area {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}

@media screen and (max-width: 650px) {

    header{
        h1{
            font-size: 38px;
        }
    }
    
}

@media screen and (max-width: 920px) {

    header {
        h1 {
            margin: 1% 0 1% 0;
        }
    }

}


@media screen and (max-width: 970px) {
    header {
        .nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .nav-items {
                margin-bottom: 1%;
            }
        }
    }
}

@media screen and (max-width:690px) {

    .team {
        min-height: 1280px;

        .team-rows {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;

        }
    }

}